.container{
    margin: 0;
    padding: 0;
    height: 80vh;
    display: flex;
    justify-content: center;
    text-align: center;
}

.loader {
    background-color: blue;
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    color: white;
}
.loader:before,
.loader:after {
    content: '';
    display: block;
    position: absolute;
    top: 25px;
    left: 25px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
}
.loader:after {
    color: white;
    transform: rotateY(70deg);
    animation-delay: 400ms;
}


@keyframes spin {
    0%,
    100% {
        box-shadow: 10px 0px 0 0px currentcolor;
    }
    12% {
        box-shadow: 10px 10px 0 0 currentcolor;
    }
    25% {
        box-shadow: 0 10px 0 0px currentcolor;
    }
    37% {
        box-shadow: -10px 10px 0 0 currentcolor;
    }
    50% {
        box-shadow: -10px 0 0 0 currentcolor;
    }
    62% {
        box-shadow: -10px -10px 0 0 currentcolor;
    }
    75% {
        box-shadow: 0px -10px 0 0 currentcolor;
    }
    87% {
        box-shadow: 10px -10px 0 0 currentcolor;
    }
}