table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 7px;
    margin: 0;
    border: 1px solid #da570c;
    text-align: center;
}
th {
    background-color: #da570c;
    user-select: none;
}
.contanct_image {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

#contactForm{
    margin-bottom: 10px;
    padding: 10px;
    border: 5px solid rgb(255, 128, 0);
    display: none;
    flex-direction: column;
    row-gap: 10px;
    width: 340px;
}

#contactForm>div{
    display: flex;
    justify-content: space-between;
}

#filterForm{
    margin-bottom: 10px;
    padding: 10px;
    border: 5px solid rgb(255, 128, 0);
    display: none;
    flex-direction: column;
    row-gap: 10px;
    width: 340px;
}

#filterForm>div{
    display: flex;
    justify-content: space-between;
}


button{
    margin: 10px 0;
}
