.inredients {
    list-style: none;
    padding: 0px;
}

.inredients li::after
{
    content: '\2713';
}

.inredients li:before
{
    content: '\2713';
}

.container{
    text-align: center;
    border: 1px solid black;
    padding: 10px;
    width: 250px;
    word-wrap: wrap;
}

input[type="number"]{
    background-color: #ef9724;
}

button[type="submit"]{
    background-color: green;
    transition-duration: 0.3s;
}

button:hover[type="submit"]{
    background-color: rgb(98, 153, 16);
    transition-duration: 0.3s;
}