.def::first-letter{
    color: red;
}

.def{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-kerning: normal;
    font-variant: small-caps;
}


pre::selection{
    background-color: red;
    color: white;
}


.month_container{
    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 50px;
}

.piece{
    stroke: orange;
    fill: bisque;
    stroke-width: 7px;
}

.salami1{
    opacity: 0;
    fill: #FF8080;
    animation: drop 2s ease forwards, anim1 2s ease 5s forwards;
}
.salami2{
    opacity: 0;
    fill: #FF8080;
    animation: drop 2s ease 0.5s forwards, anim2 2s ease 5s forwards;
}
.salami3{
    opacity: 0;
    fill: #FF8080;
    animation: drop 2s ease 1s forwards, anim3 2s ease 5s forwards;
}
.salami4{
    opacity: 0;
    fill: #FF8080;
    animation: drop 2s ease 1.5s forwards, anim4 2s ease 5s forwards;
}
.salami5{
    opacity: 0;
    fill: #FF8080;
    animation: drop 2s ease 2s forwards, anim5 2s ease 5s forwards;
}
.salami6{
    opacity: 0;
    fill: #FF8080;
    animation: drop 2s ease 2.5s forwards, anim6 2s ease 5s forwards;
}
.salami7{
    opacity: 0;
    fill: #FF8080;
    animation: drop 2s ease 3s forwards, anim7 2s ease 5s forwards;
}
.salami8{
    opacity: 0;
    fill: #FF8080;
    animation: drop 2s ease 3.5s forwards, anim8 2s ease 5s forwards;
}
.piece1{
    animation: anim1 2s ease 5s forwards;    
}
.piece2{
    animation: anim2 2s ease 5s forwards;    
}
.piece3{
    animation: anim3 2s ease 5s forwards;    
}
.piece4{
    animation: anim4 2s ease 5s forwards;  
}
.piece5{
    animation: anim5 2s ease 5s forwards;    
}
.piece6{
    animation: anim6 2s ease 5s forwards;    
}
.piece7{
    animation: anim7 2s ease 5s forwards;    
}
.piece8{
    animation: anim8 2s ease 5s forwards;    
}

@keyframes drop{
    0%{
        opacity: 1;
        transform: translateY(-500px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes anim1 {
    0%{
        transform: translate(0);
    }
    100%{
        transform: translate(5px, 15px);
    }
}
@keyframes anim2 {
    0%{
        transform: translate(0);
    }
    100%{
        transform: translate(15px, 5px);
    }
}
@keyframes anim3 {
    0%{
        transform: translate(0);
    }
    100%{
        transform: translate(15px, -5px);
    }
}
@keyframes anim4 {
    0%{
        transform: translate(0);
    }
    100%{
        transform: translate(5px, -15px);
    }
}
@keyframes anim5 {
    0%{
        transform: translate(0);
    }
    100%{
        transform: translate(-5px, -15px);
    }
}
@keyframes anim6 {
    0%{
        transform: translate(0);
    }
    100%{
        transform: translate(-15px, -5px);
    }
}
@keyframes anim7 {
    0%{
        transform: translate(0);
    }
    100%{
        transform: translate(-15px, 5px);
    }
}
@keyframes anim8 {
    0%{
        transform: translate(0);
    }
    100%{
        transform: translate(-5px, 15px);
    }
} 

.steam{
    fill: none;
    stroke: rgb(107, 103, 103);
    stroke-width: 0;
    transform: translateY(-50px);
    animation: steamanim 5s ease 5s infinite;
}

@keyframes steamanim {
    0%{
        transform: translateY(-50px);
        stroke-width: 0px;
    }
    50%{
        transform: translateY(-75px);
        stroke: azure;
        stroke-width: 12px;
    }
    100%{
        transform: translateY(-100px);
        stroke: azure;
        stroke-width: 0px;
    }
}


#logo{
    transform: translateY(-300px);
    opacity: 0;
    animation: appearance 5s ease 5s forwards;
}

@keyframes appearance {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 0.8;
    }
}


.container{
    padding-top: 50px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
}

.item{
    height: 400px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    border: 5px double orangered;
    box-shadow: 10px 10px 10px orange;
    border-radius: 20%;
}

iframe{
    box-shadow: 10px 10px 10px orange;
    border: 3px solid red;
}

#pizza_animations{
    z-index: 1000;
    width: 1200px;
    height: 500px;
    overflow: hidden;
    position: relative;
    border: black solid thick;
}


.pizza {
    user-select: none;
    height: 150px;
    width: 150px;
    position: absolute;
}