fieldset {
    border: 10px solid rgb(255, 174, 0);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 10px 5px 4px rgba(255, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    color: #333;
}

legend {
    font-weight: bold;
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    flex-direction: column;
}

.item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 350px;
}

.item div:nth-child(even){
    padding-bottom: 20px;
}

.item div:last-child{
    padding-top: 30px;
}

#button{
    background-color: #E85C0D;
    height: 30px;
    transition-duration: 0.3s;
}

#button:hover{
    background-color: #d27237;
}


#button:active{
    background-color: #af5117;
}

label{
    font-size: larger;
}

input{
    font-size: larger;
    width: 300px;
    height: 20px;
    border-radius: 5px;
    background-color: #e7c033;
    box-shadow: 2px 2px 1px #ef9724;
}

input:focus{
    box-shadow: 5px 5px 1px black;
}

input:optional{
    background-color: gray;
}


#button:hover{
    background-color: rgb(123, 48, 35);
}