button[type="submit"]{
    background-color: #ef9724;
    box-shadow: 2px 2px 1px #ef9724;
}

button:hover[type="submit"]{
    background-color: rgb(123, 48, 35);
}

label[for="rating"]::after{
    content: '*';
    color: red;
}

textarea{
    font-size: larger;
    resize: none;
    width: 200px;
    height: 100px;
    border-radius: 5px;
    background-color: #e7c033;
    box-shadow: 2px 2px 1px #ef9724;
}

input{
    font-size: larger;
    resize: none;
    border-radius: 5px;
    background-color: #e7c033;
    box-shadow: 2px 2px 1px #ef9724;
}

