{% extends 'main/layout.html' %}


{% block title %}
    О компании
{% endblock %}

{% block styles %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}" type="text/css">
{% endblock %}

{% block body %}
    <h1>О компании</h1>
{% endblock %}

{% block info %}
    <div id="top">
        <h3 id="text">О нас</h2>
        <img src="{% static 'images/leftbg.png' %}" id="mountain_left" />
        <img src="{% static 'images/rightbg.png'%}" id="mountain_right" />
    </div>
    
    <h2>Видео</h2>
    <iframe width="700" height="500" src="https://www.youtube.com/embed/wX8foM1z7S0?autoplay=1&mute=1&" title="Making a pizza - reels" frameborder="0" allowfullscreen></iframe>
    
    <hr>

    <h2>Логотип</h2>
    <figure>
        {% load static %}
        <picture id="big_logo">
            <source srcset="{% static 'images/big_logo.jpg' %}" media="(min-width:800px)" width="450">
            <img src="{% static 'images/logo.jpg' %}" width="200" height="200" >
        </picture>
        <figcaption>Наш логотип<br>
            <a href="{% static 'images/big_logo.jpg' %}" download type="jpg">Скачать логотип</a>
        </figcaption>
    </figure>
    
    <hr>

    <h2>Сертификат</h2>
    <div id="certificate">
        <div class="top">
            <p><strong>Единый торговый реестр</strong></p>
            <p><strong>Свидетельство</strong></p>
            <p><strong>о внесении сведений</strong></p>
        </div>
        <div class="left_center">
            <p><small>г. <span itemprop="city" itemtype="https://schema.org/City">Минск</span></small></p>
        </div>
        <div class="right_center">
            <p><time datetime="2014-01-12">12 января 2014<small></small></time></p>
        </div>
        <div class="center">
            <p><strong>Общество с ограниченной ответственностью &laquo;PizzaHub&raquo;</strong></p>
            <p>(ИНН 84685968595)</p>
            <p>Реестровый номер: <span itemprop="id_number" itemtype="https://schema.org/Number">5532</span></p>
        </div>
        <div class="bottom1">
            <p><small><span itemprop="director" itemtype="https://schema.org/jobTitle">Арсений Николаевич</span></small></p>
            <p><small>Директор Ассоциации <span itemprop="organisation" itemtype="https://schema.org/Organization">"ОБЩЕПИТ"</span></small></p>
        </div>
        <hr>
        <div class="bottom3">
            <img src="{% static 'images/back_full.png' %}" alt="Логотип организации" width="100px">
        </div>
        <div class="bottom2">
            <p dir="rtl">Ассоциация "Гастрономическая Сертификационная Организация"; 1010000 г. Минск, ул. Карла Маркса, дом 42</p>
            <p>Тел. <a href="tel:+375333769165">+375(33)376-91-65</a></p> 
            <p>e-mail: <a href="mailto:pizzahub@example.com">pizzahub@example.com</a></p>
        </div>
    </div>

    <hr>

    <section id="reasons">
        <h2>Почему выбирают нас</h2>
        <dl>
            <dt>Уникальность</dt>
            <dd>Индивидуальный подход к каждому блюду</dd>
            <dt>Качество</dt>
            <dd>Используем только лучшие ингредиенты</dd>
            <dt>Страсть</dt>
            <dd>Вкладываем в каждую пиццу частичку нашей страсти</dd>
            <dt>Искусство</dt>
            <dd>Каждая пицца - настоящее кулинарное произведение искусства</dd>
            <dt>Впечатления</dt>
            <dd>Мы не просто готовим еду, мы создаем незабываемые впечатления</dd>
            <dt>Долгосрочные отношения</dt>
            <dd>Наш вкус останется в ваших сердцах на долгие годы</dd>
            <dt>Широкий выбор</dt>
            <dd>У нас большой ассортимент пицц с различными ингредиентами</dd>
            <dt>Быстрая доставка</dt>
            <dd>Мы гарантируем быструю и своевременную доставку</dd>
            <dt>Доступные цены</dt>
            <dd>Мы предлагаем вкусные пиццы по доступным ценам</dd>
        </dl>
    </section>
    <hr>
    <section id="quote">
        <h2>Цитаты</h2>
        <blockquote cite="http://poe.com">
            <p itemprop="quote">
                В каждом кусочке нашей пиццы - вкус и тепло,<br>
                которые мы с удовольствием доставляем каждому клиенту.<br>
                Наша кухня - это наше искусство, а каждая пицца - наш шедевр,<br>
                созданный для удовольствия вашего вкуса.
            </p>
            <p>-Директор {{ director }}, <cite>Открытие пиццерии</cite></p>
        </blockquote>
        <div lang="en">
            <q cite="https://ru.wikipedia.org/wiki/%D0%9F%D0%B8%D1%86%D1%86%D0%B0">Пицца — это не только еда, это целая философия жизни.</q>
        </div>
        <div lang="ru">
            <q cite="https://ru.wikipedia.org/wiki/%D0%9F%D0%B8%D1%86%D1%86%D0%B0">Pizza is not only food, it is a whole philosophy of life</q>
        </div>
        <hr>
    </section>
    <section id="music">
        <h2>Просто хорошая музыка</h2>
        <audio src="{% static 'audios/Memory Reboot.mp3' %}" controls>Просто хорошая музыка</audio>
    </section>
    <script src="{% static 'js/about.js' %}"></script>
{% endblock %}