<table border="1" id="certificate">
    <td>
        <p><small>Сертификат о членстве в <abbr title="Торговый реестр">тр</abbr></small></p>
        <p><strong>Единый торговый реестр</strong></p>
        <p><strong>СВИДЕТЕЛЬСТВО</strong></p>
        <p><strong>о внесении сведений</strong></p>
        <p><small>г. <span itemprop="city">Минск</span></small></p>
        <p><time datetime="2014-01-12">12 января 2014<small></small></time></p>
        <p><strong><abbr title="Общество с ограниченной ответственностью">ООО</abbr> &laquo;PizzaHub&raquo;</strong></p>
        <p>(ИНН 84685968595)</p>
        <p><u><b>Реестровый номер: <span itemprop="id_number">5532</span></b></u></p>
        <p><small><span itemprop="director">Арсений Николаевич</span></small></p>
        <p><small>Директор Ассоциации <span itemprop="organisation">"ОБЩЕПИТ"</span></small></p>
        <hr>
        <p dir="rtl"><small><b>Ассоциация &quot;<abbr title="Гастрономическая Сертификационная Организация">ГастроСертОрг</abbr>&quot; 1010000 г. Минск, ул. Карла Маркса, дом 42
            <br> 
            Тел. <a href="tel:+375333769165">+375(33)376-91-65</a> 
            <br>
            e-mail: <a href="mailto:pizzahub@example.com">pizzahub@example.com</a>
        </b></small></p>
    </td>
</table>