{% extends 'main/layout.html' %}

{% block title %}
    График
{% endblock %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/loader.css' %}" type="text/css">
{% load static %}
    
{% endblock %}

{% block body %}
    <h1>График</h1>
{% endblock %}

{% block info %}
    <div class="loader" style="position: absolute;top: 50%;left: 50%; transform: translate(-50%, -50%);"></div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <canvas id="myChart" style="padding-bottom: 50px;"></canvas>
    <a id="downloadLink" href="#" download></a>    

    {% load static %}
    <script src="{% static 'js/chart.js' %}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            document.getElementsByClassName('loader')[0].style.display = 'none';
        })
    </script>
{% endblock %}