{% extends 'main/layout.html' %}


{% block title %}
    Контакты
{% endblock %}

{% block body %}
    <h1>Контакты</h1>
{% endblock %}

{% block info %}
    {% for c in cons %}
    <img src="{{ c.image.url }}" height="250" width="300">
        <span itemprop="fullname">{{c}}</span><br>
        Должность: <span itemprop="job_title">{{c.work|lower}}</span><br>
        Номерт телефона: <span itemprop="phone_number"><a href="tel:{{c.phone_number}}">{{c.phone_number}}</a></span><br>
        Почта: <span itemprop="email"><a href="mailto:{{ser.email}}">{{c.email}}</a></span><br>
        <hr>
    {% endfor %}
{% endblock %}