{% extends 'main/layout.html' %}


{% block title %}
    Контакты
{% endblock %}

{% block styles %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/contacts.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/loader.css' %}" type="text/css">
{% endblock %}

{% block body %}
    <h1>Контакты</h1>
{% endblock %}

{% block info %}
<div class="loader" style="position: absolute;top: 50%;left: 50%; transform: translate(-50%, -50%);"></div>
<div id="content" style="display: none;">
    <div style="display: flex; justify-content:space-between">
    <div style="display: flex; flex-direction: column">
    <button id="addButton">Добавить</button>
    <form id="contactForm" style="display: none;">
        <div>
            <label for="new_lastname">Фамилия: </label>
            <input type="text" id="new_lastname">
        </div>
        <div>
            <label for="new_firstname">Имя: </label>
            <input type="text" id="new_firstname">
        </div>
        <div>
            <label for="new_job_title">Должность: </label>
            <input type="text" id="new_job_title">
        </div>
        <div>
            <label for="new_phone_number">Номер телефона: </label>
            <input type="text" id="new_phone_number">
        </div>
        <div>
            <label for="new_email">Почта: </label>
            <input type="text" id="new_email">
        </div>
        <div>
            <button type="reset">Очистить</button>
            <button type="button" onclick="add()">Добавить сотрудника</button>
        </div>
    </form>
    </div>
    <div style="display: flex; flex-direction: column">
        <button id="filterButton">Фильтрация</button>
        <form id="filterForm" style="display: none;">
            <div>
                <label for="filter_lastname">Фамилия: </label>
                <input type="text" id="filter_lastname">
            </div>
            <div>
                <label for="filter_firstname">Имя: </label>
                <input type="text" id="filter_firstname">
            </div>
            <div>
                <label for="filter_job_title">Должность: </label>
                <input type="text" id="filter_job_title">
            </div>
            <div>
                <label for="filter_phone_number">Номер телефона: </label>
                <input type="text" id="filter_phone_number">
            </div>
            <div>
                <label for="filter_email">Почта: </label>
                <input type="text" id="filter_email">
            </div>
            <div>
                <button type="button" onclick="cancelFilter()">Восстановить</button>
                <button type="button" onclick="filter()">Применить</button>
            </div>
        </form>
    </div>
    </div>


    <table>
        <thead>
            <tr>
                <th id="order" onclick="choose_column(id)"></th>
                <th id="image">Фото</th>
                <th id="lastname" onclick="choose_column(id)">Фамилия</th>
                <th id="firstname" onclick="choose_column(id)">Имя</th>
                <th id="job_title" onclick="choose_column(id)">Должность</th>
                <th id="phone_number" onclick="choose_column(id)">Номер телефона</th>
                <th id="email" onclick="choose_column(id)">Почта</th>
                <th><input type="checkbox" id="choice" onchange="{
                    document.querySelectorAll('tbody [type=checkbox]').forEach(e => e.checked = this.checked)}">
                </th>
            </tr>
        </thead>
        <tbody>
            {% for c in cons %}
            <tr>
                <td itemprop="order">{{c.0}}</td>
                <td><img class="contanct_image" src="{{ c.1.image.url }}" height="250" width="300"></td>
                <td itemprop="lastname">{{ c.1.surname }}</td>
                <td itemprop="firstname">{{ c.1.name }}</td>
                <td><span itemprop="job_title">{{ c.1.work }}</span></td>
                <td itemprop="phone_number">
                    <a href="tel:{{ c.1.phone_number }}">{{ c.1.phone_number }}</a>
                </td>
                <td itemprop="email">
                    <a href="mailto:{{ c.1.email }}">{{ c.1.email }}</a>
                </td>
                <td>
                    <input type="checkbox" value="{{c.1.surname}} {{c.1.name}}" onchange="{
                        document.getElementById('choice').checked = 
                            Array.from(document.querySelectorAll('tbody [type=checkbox]')).every(e => e.checked)
                    }">
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button id="award">Премировать выделенных сотрудников</button>
    <span id="message"></span>
</div>
<script src="{% static 'js/contacts.js' %}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        document.getElementById('content').style.display = 'block';
        document.getElementsByClassName('loader')[0].style.display = 'none';
    });
</script>
{% endblock %}