<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav class="navbar">
        <ul class="navbar-list">
            <li class="navbar-item"><a href="{% url 'home' %}">
                <img src="{% static 'images/logo.jpg' %}" width="60px" height="60px"></a></li>
                <li class="navbar-item"><a href="{% url 'database_home' %}" class="abc">Ассортимент</a></li>
                <li class="navbar-item"><a href="{% url 'about' %}">Информация</a></li>
            <li class="navbar-item"><a href="{% url 'contacts' %}" class="abc">Контакты</a></li>
            <li class="navbar-item"><a href="{% url 'vacancies' %}" class="abc">Вакансии</a></li>
            <li class="navbar-item"><a href="{% url 'news' %}" class="abc">Новости</a></li>
            <li class="navbar-item"><a href="{% url 'reviews' %}" class="abc">Отзывы</a></li>
            <li class="navbar-item"><a href="{% url 'privacy' %}" class="abc">Политика конфиденциальности</a></li>
            <li class="navbar-item"><a href="{% url 'api1' %}" class="abc">Api1</a></li>
            <li class="navbar-item"><a href="{% url 'api2' %}" class="abc">Api2</a></li>
            {% if user.is_superuser %}
                <li class="navbar-item"><a href="{% url 'create_ingredient' %}">Add ingredient</a></li>
                <li class="navbar-item"><a href="{% url 'create_pizza' %}">Add pizza</a></li>
            {% endif %}
            {% if user.is_staff %}
                <li class="navbar-item"><a href="{% url 'active_orders' %}">Активные заказы</a></li>
            {% endif %}
            {% if user.is_authenticated %}
                <li class="navbar-item-right navbar-item">
                    <a href="#">{{user.get_username}}</a>
                    <a href="{% url 'my_orders' %}">Заказы</a>
                    <a href="{% url 'cart_view' %}">Корзина</a>
                <li>
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="logout">Выйти</button>
                    </form>
                </li>
                </li>
            {% else %}
                <li class="navbar-item-right navbar-item">
                    <a href="{% url 'login' %}">Войти</a>
                    <a href="{% url 'register' %}">Зарегистрироваться</a>
                </li>
            {% endif %}
        </ul>
    </nav>
    {% block body %}
    {% endblock %}
    {% block info %}
    {% endblock %}
</body>
</html>