<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Novickiy Zahar">
    <meta name="description" content="Сайт, позволяющий заказать пицу из сети пиццерий &quot;PizzaHub&quot;">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="shortcut icon" href="{% static 'images/logo.jpg' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    {% block styles %}{% endblock %}
    <base target="_self">
</head>
<body>
    <nav >
        <ul>
            <li><a id="logotype" href="{% url 'home' %}">
                <img src="{% static 'images/logo.jpg' %}" width="60" height="60" alt="Логотип"></a></li>
                <li><a href="{% url 'database_home' %}" >Ассортимент</a></li>
                <li><a href="{% url 'coupons' %}">Купоны</a></li>
            <li><a href="{% url 'contacts' %}" >Контакты</a></li>
            <li><a href="{% url 'vacancies' %}" >Вакансии</a></li>
            <li><a href="{% url 'privacy' %}" >Политика конфиденциальности</a></li>
            {% if user.is_superuser %}
                <li><a href="{% url 'create_ingredient' %}">Создать ингредиент</a></li>
                <li><a href="{% url 'create_pizza' %}">Создать пиццу</a></li>
            {% endif %}
            {% if user.is_staff %}
                <li ><a href="{% url 'active_orders' %}">Активные заказы</a></li>
            {% endif %}
            </ul>
            <ul class="right">
            {% if user.is_authenticated %}
                <li><a href="#">{{user.get_username}}</a></li>
                <li><a href="{% url 'my_orders' %}">Заказы</a></li>
                <li><a href="{% url 'cart_view' %}">Корзина</a></li>
                <li>
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit" >Выйти</button>
                    </form>
                </li>
                {% else %}
                <li><a href="{% url 'login' %}">Войти</a></li>
                <li><a href="{% url 'register' %}">Зарегистрироваться</a></li>
            {% endif %}
            </ul>
    </nav>
    <aside>
        <ul>
            <li><a href="{% url 'about' %}">О компании</a></li>
            <li><a href="{% url 'news' %}">Новости</a></li>
            <li><a href="{% url 'reviews' %}">Отзывы</a></li>
            <li><a href="{% url 'api1' %}">Api1</a></li>
            <li><a href="{% url 'api2' %}">Api2</a></li>
            <li><a href="{% url 'faq' %}">FAQ</a></li>
        </ul>
    </aside>
    <header id="header">
        {% block body %}
        {% endblock %}
    </header>
    <main id="main">
        {% block info %}
        {% endblock %}
    </main>
    <hr size="10px" color="yellow">
    <footer id="footer">
        <p>PizzaHub <a href="#header">Наверх</a></p>
    </footer>
</body>
</html>