{% extends 'main/layout.html' %}

{% block title %}
    {{new.title}}
{% endblock %}

{% block styles %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/news_detail.css' %}" type="text/css">
{% endblock %}

{% block body %}
    <h1>{{new.title}}</h1>
{% endblock %}

{% block info %}
<div class="news-container">
    <img src="{{ new.image.url }}" class="news-image" width="150">
    <p class="publicated_date">Опубликовано: {{new.publication_date}}</p>
    <p class="content">{{new.content}}</p>
</div>
{% endblock %}