{% extends 'main/layout.html' %}


{% block title %}
    Политика конфиденциальности
{% endblock %}

{% block body %}
    <h1>Политика конфиденциальности</h1>
{% endblock %}

{% block info %}
    <details>
        <summary>
            <strong>1. Сбор и использование информации</strong>
        </summary>
        <span>Мы, компания по доставке пиццы, стремимся обеспечить защиту вашей конфиденциальности. При посещении нашего сайта и использовании наших услуг мы можем собирать следующую информацию:</span>
        <ul>
                <li>Имя</li>
                <li>Контактная информация, включая адрес электронной почты</li>
                <li>Данные для доставки</li>
        </ul>
        <span>Мы используем предоставленную информацию исключительно для обработки заказов и улучшения качества предоставляемых нами услуг.</span>
    </details>

    <details>
        <summary><strong>2. Хранение данных</strong></summary>
        <span>Ваши личные данные хранятся на защищенных серверах и не раскрываются третьим лицам без вашего согласия, за исключением случаев, предусмотренных законодательством.</span>
    </details>
        
    <details>    
        <summary><strong>3. Куки-файлы</strong></summary>
        <span>Наш веб-сайт может использовать куки-файлы для улучшения пользовательского опыта. Вы можете отключить куки в настройках вашего браузера.</span>
    </details>

    <details>
        <summary><strong>4. Согласие</strong></summary>
        <span>Пользование нашим сайтом означает ваше согласие с нашей политикой конфиденциальности.</span>
    </details>

    <details>
        <summary><strong>5. Изменения в политике</strong></summary>
        <span>Мы оставляем за собой право вносить изменения в нашу политику конфиденциальности. Любые изменения будут опубликованы на этой странице.</span>
    </details>
        
    <p>Если у вас есть вопросы или предложения относительно нашей политики конфиденциальности, пожалуйста, свяжитесь с нами по указанным на сайте контактам.</p>

    <small>Дата последнего обновления: 16 сентября 2024 года.</small>
{% endblock %}