{% extends 'main/layout.html' %}

{% block title %}
Читатели
{% endblock %}

{% block styles %}
{% load static %}

{% endblock %}

{% block body %}
    <h1>Читатели</h1>
{% endblock %}

{% block info %}
    <form>
        <div>
            <label for="lastName">Фамилия</label>
            <input type="text" id="lastName" value="LastName">
        </div>
        <div>
            <label for="firstName">Имя</label>
            <input type="text" id="firstName" value="FirstName">
        </div>
        <div>
            <label for="middleName">Отчество</label>
            <input type="text" id="middleName" value="MiddleName">
        </div>
        <div>
            <label for="joinYear">Год вступления</label>
            <input id="joinYear" value="2024">
        </div>
        <div>
            <label for="libraryCard">Читательский билет</label>
            <input id="libraryCard" value="1111">
        </div>
    </form>
    
    <div class="container" style="display: flex; flex-direction: row;">
        <div style="min-width: 400px; max-width: 500px">
            <div>
                <label for="oldest_oop">Самый старый читатель: </label>
                <label id="oldest_oop"></label>
            </div>
            <div>
                <button type="button" onclick="oop_add(document.getElementById('lastName').value, 
                document.getElementById('firstName').value, 
                document.getElementById('middleName').value,
                document.getElementById('joinYear').value,
                document.getElementById('libraryCard').value)">
                Добавить читателя(ООП)</button>
            </div>
            <div class="container_oop">
            </div>
        </div>
        <div style="min-width: 400px; max-width: 500px">
            <div>
                <label for="oldest_proto">Самый старый читатель: </label>
                <label id="oldest_proto"></label>
            </div>
            <div>
                <button type="button" onclick="proto_add(document.getElementById('lastName').value, 
                document.getElementById('firstName').value, 
                document.getElementById('middleName').value,
                document.getElementById('joinYear').value,
                document.getElementById('libraryCard').value)">
                Добавить читателя(Прототипы)</button>
            </div>
            <div class="container_proto">
            </div>
        </div>
    </div>

    
    {% load static %}
    <script src="{% static 'js/readers_oop.js' %}"></script>
    <script src="{% static 'js/readers_proto.js' %}"></script>
{% endblock %}
