{% extends 'main/layout.html' %}


{% block title %}
    Отзывы
{% endblock %}

{% block styles %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/reviews.css' %}" type="text/css">
{% endblock %}

{% block body %}
    <h1>Отзывы</h1>
{% endblock %}

{% block info %}
    <form method="post" action="{% url 'reviews' %}">
        {% csrf_token %}
        <label for="rating">Оценка(1-5):</label>
        <input type="number" name="rating" id="rating" min="1" max="5" required><br>
        <label for="content">Комментарии:</label><br>
        <textarea type="text" name="content" id="content"></textarea><br>
        <button type="submit" name="action" value="leave_review">Оставить отзыв</button>
    </form>
    <br><hr>
    {% if avg %}
        <b>Средняя оценка: {{avg}}/5</b><br><hr>
        {% else %}
        <b>Пока нет отзывов</b><br><hr>
    {% endif %}
    {% for r in revs %}
    <article>
        <b>Пользователь:</b> {{r.user}}<br>
        <b>Оценка:</b> {{r.rating}}/5<br>
        <b>Опубликовано:</b> {{r.date}}<br>
        <b>Комментарии:</b> {{r.content}}
    </article>
    <hr>
    {% endfor %}
{% endblock %}