{% extends 'main/layout.html' %}


{% block title %}
    Вакансии
{% endblock %}

{% block body %}
    <h1>Вакансии</h1>
{% endblock %}

{% block info %}
    {% if ser %}
        <h3>Для связи</h3>
        <img src="{{ ser.image.url }}" height="250" width="300">
        {{ser}}<br>
        Должность: {{ser.work|lower}}<br>
        Номерт телефона: <a href="tel:{{c.phone_number}}">{{ser.phone_number}}</a><br>
        Почта: <a href="mailto:{{ser.email}}">{{ser.email}}</a><br>
        <hr>
    {% endif %}
    {% for v in vacs %}
        <b>Должность:</b> {{v.title}}<br>
        <b>Описание работы:</b> {{v.description}}<br>
        <b>График работы:</b> {{v.schedule_info}}<br>
        <b>Зарплата:</b> {{v.salary_info}}<br>
        <hr>
    {% endfor %}
{% endblock %}