{% extends 'main/layout.html' %}

{% block title %}
    Авторизация
{% endblock %}

{% block styles %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css">
{% endblock %}

{% block body %}
    <h1>Авторизация</h1>
{% endblock %}


{% block info %}
    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
    {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
    {% else %}
        <p>Please login to see this page.</p>
    {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="container">
        <fieldset>
            <legend>Авторизация</legend>
            <div class="item">
                <div>{{form.username.label_tag}}</div>
                <div>{{form.username }}</div>
                <div>{{form.password.label_tag}}</div>
                <div>{{ form.password }}</div>
                <div><label for="email">Почта: </label></div>
                <div><input type="email" id="email"></div>
                <div><label for="email">Телефон: </label></div>
                <div><input type="telephone" id="telephone"></div>
                <div><input id="button" type="submit" value="Войти"/></div>
            </div>
        </fieldset>
        <input type="hidden" name="next" value="{{ next }}" />
        <p>Нажмите клавишу <kbd>Enter</kbd> для авторизации</p>
        <p><a href="{% url 'register' %}">Еще нет аккаунта? Создайте!</a></p>
    </div>
    </form>


{% endblock %}