{% extends 'main/layout.html' %}

{% block title %}
    Регистрация
{% endblock %}

{% block body %}
    <h1>Регистрация</h1>
{% endblock %}

{% block info %}
    {{error}}
    <form method="post">
        <fieldset>
            <legend>Регистрация</legend>
            {% csrf_token %}
            <input type="text" name="login" placeholder="Логин"><br>
            <input type="password" name="password1" placeholder="Пароль"><br>
            <input type="password" name="password2" placeholder="Подтвердите пароль"><br>
            <button type="submit">Регистрация</button>
        </fieldset>
    </form>
{% endblock %}