{% extends 'main/layout.html' %}

{% block title %}
    Регистрация
{% endblock %}


{% block styles %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css">
{% endblock %}


{% block body %}
    <h1>Регистрация</h1>
{% endblock %}

{% block info %}
    {{error}}
    <form method="post">
    {% csrf_token %}
    <div class="container">
        <fieldset>
            <legend>Регистрация</legend>
            <div class="item">
                <div><label for="login">Имя пользователя</label></div>
                <div><input id="login" type="text" name="login"></div>
                <div><label for="login">Пароль</label></div>
                <div><input id="password" type="password" name="password1"></div>
                <div><label for="login">Подтвердите пароль</label></div>
                <div><input id="password" type="password" name="password2"></div>
                <div><input type="submit" value="Создать аккаунт"/></div>
            </div>
        </fieldset>
        <p>Нажмите клавишу <kbd>Enter</kbd> для регистрации</p>
    </div>
    </form>
{% endblock %}