{% extends 'main/layout.html' %}

{% block title %}
    Ассортимент
{% endblock %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/pizzas.css' %}" type="text/css">
{% endblock %}

{% block body %}
    <h1>Ассортимент</h1>
{% endblock %}
{% load static %}
{% block info %}
    {% if pizzas %}
    <form method="get" action="">
        <label for="sort">Сортировать:</label>
        <select name="sort" id="sort">
            <option value="">Не выбрано</option>
            <option value="1">Количествую ингредиентов(по убыванию)</option>
            <option value="2">Количествую ингредиентов(по возрастанию)</option>
            <option value="3">Цена(по убыванию)</option>
            <option value="4">Цена(по возрастанию)</option>
        </select>
        <br>
        <button type="submit">Применить фильтры и сортировку</button>
    </form>
        <div class="container">
        {% for piz in pizzas %}
        <div class="card pizza-item">
            <a href="{% url 'pizza_detail' piz.id %}">
                <figure>
                    <img src="{{ piz.image.url }}" height="200" width="200"><br>
                    <figcaption>
                        <h3>{{piz.name}}</h3>
                        {{piz.price}} BYN<br>
                    </figcaption>
                </figure>
                <form method="post" action="{% url 'add_to_cart' %}">
                    {% csrf_token %}
                    <input type="hidden" name="pizza_id" value="{{ piz.id }}">
                    <input type="number" hidden name="count" value="1">
                    <button type="submit">Добавить в корзину</button>
                </form>
            </a>
        </div>
        {% endfor %}
    </div>
    <div class="pagination" id="pagination"></div>
    {% else %}
            <h3>Нет пицц</h3>
    {% endif %}
    <script src="{% static 'js/pizzas.js' %}"></script>
{% endblock %}
