{% extends 'main/layout.html' %}

{% block title %}
    База данных
{% endblock %}

{% block body %}
    <h1>Ассортимент</h1>
{% endblock %}
{% load static %}
{% block info %}
    {% if pizzas %}
    <form method="get" action="">
        <label for="sort">Сортировать:</label>
        <select name="sort" id="sort">
            <option value="">Не выбрано</option>
            <option value="1">Количествую ингредиентов(по убыванию)</option>
            <option value="2">Количествую ингредиентов(по возрастанию)</option>
            <option value="3">Цена(по убыванию)</option>
            <option value="4">Цена(по возрастанию)</option>
        </select>
        <br>
        <button type="submit">Применить фильтры и сортировку</button>
    </form>
        {% for piz in pizzas %}
            <div>
                <figure>
                    <figcaption>
                        <h3>{{piz.name}}</h3>
                        {{piz.price}} BYN<br>
                    </figcaption>
                        <img src="{{ piz.image.url }}" height="200" width="200"><br>
                </figure>
                    <a href="{% url 'pizza_detail' piz.id %}">Подробнее</a><br>
                <form method="post" action="{% url 'add_to_cart' %}">
                    {% csrf_token %}
                    <input type="hidden" name="pizza_id" value="{{ piz.id }}">
                    <button type="submit">Добавить в корзину</button>
                </form>
                <hr>
            </div>
            {% endfor %}
        <img src="/media/plots/plot1.png"><hr>
        <img src="/media/plots/plot2.png">
    {% else %}
            <h3>Нет пицц</h3>
    {% endif %}
{% endblock %}
