{% extends 'main/layout.html' %}

{% block title %}
    {{pizza.name}}
{% endblock %}

{% block styles %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/details.css' %}" type="text/css">
{% endblock %}

{% block body %}
    <h1>{{pizza.name}}</h1>
{% endblock %}

{% block info %}
    <div class="container">
        <img src="{{ pizza.image.url }}" height="200" width="200"></p>
        <p>Описание: {{pizza.description}}</p>
        <p>Цена: {{pizza.price}} BYN</p>
    </div>
    <b>Ингредиенты:</b>
    <ul class="inredients">
    {% for ing in pizza.ingredients.all %}
        <li>
            {{ing.name|lower}}
        </li>
        {% endfor %}
    </ul>
    <hr>
    <form method="post" action="{% url 'add_to_cart' %}">
        {% csrf_token %}
        <input type="hidden" name="pizza_id" value="{{ pizza.id }}">
        Количество <input type="number" name="count" value="1" min="1" max="10"><br><br>
        <button type="submit">Добавить в корзину</button>
    </form>
    {% if user.is_superuser %}
    <a href="{% url 'pizza_delete' pizza.id %}">Удалить</a><br>
    {% endif %}
    {% if user.is_superuser %}
    <a href="{% url 'pizza_edit' pizza.id %}">Изменить</a>
    {% endif %}
{% endblock %}