{% extends 'main/layout.html' %}

{% block title %}
    {{pizza.name}}
{% endblock %}

{% block body %}
    <h1>{{pizza.name}}</h1>
{% endblock %}

{% block info %}
    Описание: {{pizza.description}}<br>
    Цена: {{pizza.price}} BYN<br>
    <img src="{{ pizza.image.url }}" height="200" width="200"><br>
    <table border>
        <tr>
            <th colspan="{{pizza.ingredients.all.count}}">
                <div align="center">
                    Ингредиенты: 
                </div>
            </th>
        </tr>
        <tr>
            {% for ing in pizza.ingredients.all %}
            <td>    
                {{ing.name|lower}}
            </td>
            {% endfor %}
        </tr>
    </table>
    <hr>
    <form method="post" action="{% url 'add_to_cart' %}">
        {% csrf_token %}
        <input type="hidden" name="pizza_id" value="{{ pizza.id }}">
        <button type="submit">Добавить в корзину</button>
    </form>
    {% if user.is_superuser %}
    <a href="{% url 'pizza_delete' pizza.id %}">Удалить</a><br>
    {% endif %}
    {% if user.is_superuser %}
    <a href="{% url 'pizza_edit' pizza.id %}">Изменить</a>
    {% endif %}
{% endblock %}